@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    font-weight: 400;
    background-color: #FEAFC3;
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
}

.navigation-link {
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.headline-section {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.hot-content .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.button {
    text-decoration: none;
    color: #2D3440;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #2D3440;
}


.text {
    color: #565C66;
}

.product-card a {
    text-decoration: none;
}

.caption {
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.name a {
    text-decoration: none;
    font-size: 24px;
    line-height: 30px;
    color: #2D3440;
}

.phone-footer {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    font-weight: 700;
}

.contacts-caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #565C66;
}

.footer-nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.footer-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2D3440;
}

.footer-copy a {
    text-decoration: none;
    color: #2D3440;
}

.inner-header-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.breadcrumbs-link {
    width: 57px;
    height: 20px;
    text-decoration: none;
    color: #2D3440
}

.breadcrumbs-item:last-child .breadcrumbs-link {
    text-decoration: underline;
}

.catalog-filter-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.control {
    font-size: 14px;
    line-height: 20px;
}

.product-card {
    background-color: #ffffff;
}

.product-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}