@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    font-weight: 400;
    background-color: #FEAFC3;
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.navigation-link {
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.main-container {
    flex-grow: 1;
}


.headline-section {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
}

.page-header {
    display: flex;
}

.navigation {
    width: 500px;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.hot-content .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.button {
    text-decoration: none;
    color: #2D3440;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #2D3440;
}


.text {
    color: #565C66;
}

.product-card a {
    text-decoration: none;
}

.caption {
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.name a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
}

.phone-footer {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    font-weight: 700;
}

.contacts-caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #565C66;
}

.footer-nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.footer-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2D3440;
}

.footer-copy a {
    text-decoration: none;
    color: #2D3440;
}

.inner-header-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.breadcrumbs-link {
    width: 57px;
    height: 20px;
    text-decoration: none;
    color: #2D3440
}

.breadcrumbs-item:last-child .breadcrumbs-link {
    text-decoration: underline;
}

.catalog-filter-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.control {
    font-size: 14px;
    line-height: 20px;
}


.product-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.icon-find {
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
}

.icon-ice-cream {
    background-image: url("../img/icon-ice-cream.svg");
    background-repeat: no-repeat;
}

.icon-sheet {
    background-image: url("../img/icon-sheet.svg");
    background-repeat: no-repeat;
}

.icon-cow {
    background-image: url("../img/icon-cow.svg");
    background-repeat: no-repeat;
}

.icon-term {
    background-image: url("../img/icon-term.svg");
    background-repeat: no-repeat;
}

.bg-waffle {
    background-image: url("../img/waffle.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
}

.white-bg-waffle {
    background-color: #ffffff;


}

.mail-bg {
    background-image: url("../img/mail-bg.png");
    background-repeat: no-repeat;
}

.hot-cols {
    display: flex;
    justify-content: space-between;
}

.hot-col {
    width: 570px;
    background-color: #FF7799;
}

.product-catalog {
    padding: 0;
    margin:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    width: 270px;
    background-color: #ffffff;
}

.blog {
    background-image: url('../img/ice-cream-background.jpg');
    width: 570px;
}

.mail-bg {
    width: 570px;
    padding: 6px;
}

.send {
    background-color: #ffffff;

}

.blog-send {
    display: flex;
    justify-content: space-between;
}

.delivery-form {
    background-image: url("../img/delivery-form-bg.jpeg");
    display: flex;
    justify-content: space-between;
}

.delivery-form-appointment {
    background-color: #ffffff;
    width: 500px;
}

.delivery-form-text {
    width: 500px;
}

.contacts {
    background-image: url("../img/background-contacts-form.jpg");

}


.contacts-address {
    font-style: normal;
}

.contacts-address {
    background-color: #ffffff;
    width: 343px;
}

.page-footer {
    display: flex;
    justify-content: space-between;
}

.footer-socials {
    width: 104px;
}

.footer-nav {
    width: 356px;
}

.footer-meta {
    width: 193px;
}







