@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #2D3440;
    font-weight: 400;
    background-color: #FEAFC3;
}

button {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FCFCFC;
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    width: 1170px;
}

.main-logo {
    width: 137px;
    margin-right: 16px;
}
.navigation-link {
    display: block;
    padding: 8px 16px;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.header-button {
    margin-left: 16px;
    padding: 6px 16px;
    min-height: 20px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 30px;
    text-decoration: none;
    color: #2D3440;
}

.send-form {
    padding-right: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-send {
    padding: 12px 32px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: block;
    width: max-content;
    background: #FF2F64;
    border: 0;
    outline: 4px solid rgba(255, 47, 100, 0.3);
    box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    color: #FCFCFC;
}

.send-mail {
    margin-right: 20px;
    flex-grow: 1;
    padding: 14px 16px;
    background: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    ont-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
}

.main-container {
    flex-grow: 1;
}


.headline-section {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    margin: 0 auto 55px;
}

.sign-in {
    padding-left: 38px;
    background-image: url("../img/log-in.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 16px 8px;
}

.headline-present {
    max-width: 434px;

}

.headline-popular {
    max-width: 527px;
    margin-bottom: 107px;
}

.page-header {
    display: flex;
    align-items: center;
    margin-top: 24px;
    justify-content: space-between;
}

.navigation {
    width: 500px;
}

.user-action {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.dropdown {
    display: none;
}

.dropdown-head {
    padding-right: 38px;
}


.basket-header {
    padding-left: 38px;
    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 16px 8px;
}

.hot-col .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

}

.button {
    padding: 12px 32px;
    text-decoration: none;
    color: #2D3440;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background-color: #FCFCFC;
    outline: 4px solid rgba(252, 252, 252, 0.4);
    box-shadow: 0px 4px 12px rgb(45 52 64 / 10%);
    border-radius: 26px;
    display: block;
    width: max-content;
}

.name {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #2D3440;
    text-align: center;
    margin: 0;
}


.text {
    color: #565C66;
    margin: 0;
}

.product-card a {
    display: block;
    text-decoration: none;
    padding-bottom: 16px;

}

.caption {
    margin: 0 0 14px;
    font-size: 16px;
    line-height: 20px;
    color: #565C66;
}

.name a {
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    padding-bottom: 8px;
}

.phone-footer {
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    font-weight: 700;
}

.contacts-caption {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #565C66;
    margin: 0 0 33px 0;
}

.footer-nav a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.footer-copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2D3440;
}

.footer-copy a {
    text-decoration: none;
    color: #2D3440;
}

.inner-header-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

.breadcrumbs-link {
    width: 57px;
    height: 20px;
    text-decoration: none;
    color: #2D3440
}

.breadcrumbs-item:last-child .breadcrumbs-link {
    text-decoration: underline;
}

.catalog-filter-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
}

.control {
    font-size: 14px;
    line-height: 20px;
}


.product-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.icon-find {
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    padding: 0;
    width: 32px;
    height: 32px;
    background-position: center;
}

.icon-ice-cream {
    background-image: url("../img/icon-ice-cream.svg");
    background-repeat: no-repeat;
}

.icon-sheet {
    background-image: url("../img/icon-sheet.svg");
    background-repeat: no-repeat;
}

.icon-cow {
    background-image: url("../img/icon-cow.svg");
    background-repeat: no-repeat;
}

.icon-term {
    background-image: url("../img/icon-term.svg");
    background-repeat: no-repeat;
}

.bg-waffle {
    background-image: url("../img/waffle.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    border-radius: 16px;
    background-position: center;
}

.white-bg-waffle {
    background-color: #ffffff;
    padding: 56px 40px;
    border-radius: 16px;
}

.mail-bg {
    background-image: url("../img/mail-bg.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 16px;
    background-position: center;
}

.mail-text {
    margin-bottom: 45px;
}

.hot-cols {
    display: flex;
    justify-content: space-between;
}

.hot-col {
    background-color: #FF7799;
    padding: 36px 206px 36px 36px;
    max-width: 328px;
    border-radius: 16px;
}

.product-catalog {
    display: grid;
    padding: 0;
    margin:0;
    grid-template-columns: repeat(4, 1fr);
    gap: 91px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-card {
    background-color: #ffffff;
    list-style-type: none;
    border-radius: 8px;
    padding: 0 40px 24px;
}

.blog {
    padding: 33px 32px;
    background-image: url('../img/ice-cream-background.jpg');
    width: 570px;
    background-position: -18px -110px;
    background-size: 668px 445px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border-radius: 16px;
}

.blog-head {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: #2D3440;
    margin: 0;
}

.blog-head a {
    text-decoration: none;
    color: #2D3440;
}

.mail-bg {
    width: 570px;
    padding: 6px;
}

.send {
    background-color: #ffffff;
    padding: 26px;
    border-radius: 16px;

}

.blog-send {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: stretch;
}

.delivery-form {
    background-image: url("../img/delivery-form-bg.jpeg");
    background-position: -3px -138px;
    background-size: 1229px 808px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    padding: 64px 64px 64px 100px;
    margin-bottom: 80px;
    align-items: center;
    border-radius: 16px;
}

.delivery-form-appointment {
    background-color: #ffffff;
    max-width: 500px;
    padding: 40px;
    border-radius: 8px;
    box-sizing: border-box;
}

.delivery-form-appointment .text {
    margin-bottom: 32px;
}

.delivery-form-appointment .button-send {
    margin: 32px auto 0;
}

.delivery-top-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.delivery-form-item {
    margin: 0;
    width: 100%;
}

.delivery-form-item label {
    width: 100%;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #2D3440;
    display: block;

}

.delivery-form-item input {
    width: 100%;
    border: 1px solid #B9B9B9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 14px 16px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #B9B9B9;
}

.form-item-date{
    margin-right:16px;
    width: 117px;
    flex-shrink: 0;
}
.delivery-form-text {
    max-width: 375px;
    padding-top: 8px;
}

.delivery-form .headline-section {
    margin-bottom: 24px;
    text-align: left;
}

.contacts {
    background-image: url("../img/background-contacts-form.jpg");
    padding: 64px;
    border-radius: 16px;
    background-size: 1170px 660px;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts-address {
    background-color: #ffffff;
    width: 263px;
    border-radius: 8px;
    padding: 40px;
    font-style: normal;
}

.contacts-address .text {
    margin-bottom: 12px;
}

.telephone-content {
    max-width: 263px;
    margin-bottom: 12px;
}

.address-footer {
    max-width: 265px;
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.page-footer {
    display: flex;
    justify-content: space-between;
}

.footer-socials {
    width: 104px;
}

.footer-nav {
    width: 356px;
}

.footer-meta {
    width: 193px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-slider {
    height: 559px;
    margin-bottom: 80px;
}

.section-hot {
    margin-bottom: 80px;
}

.raspberry-bg {
    background-image: url("../img/raspberry.png");
    background-repeat: no-repeat;
    background-position: right;
}

.marshmallow-bg {
    background-image: url("../img/marshmallow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.hot-text {
    min-height: 66px;
    padding-bottom: 28px;
}

.title {
    margin:0;
    padding-bottom: 28px
}

.product-cart-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: -51px;
}

.product-description {
    text-align: center;
    margin-bottom: 16px;
}

.price-basket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket {
    background: #FF2F64;
    border-radius: 26px;
    padding: 8px;
    border: none;
    box-shadow: none;
}

.section-catalog {
    margin-bottom: 80px;
}

.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 32px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.benefits-item {
    padding-left: 64px;
}

.desc {
    margin-bottom: 80px;
}

.blog-head {
    width: 305px;
    text-align: left;
}
